---
import "@/styles/global.css"
import { ClientRouter } from "astro:transitions"
import Navbar from "@/components/Navbar.astro"
import Footer from "@/components/Footer.astro"
import { USER_FULLNAME, USER_JOB } from "@/data/constant"

type Meta = "description" | "keywords" | string

interface Props {
  title?: string
  meta?: Record<Meta, string>
  hideNav?: boolean
  hideFooter?: boolean
}

const { title, meta, hideNav = false, hideFooter = false } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />

    <title>
      {title ? `${title} |` : ""}{` ${USER_FULLNAME} - ${USER_JOB}`}
    </title>

    {
      meta &&
        Object.keys(meta).map((key) => <meta name={key} content={meta[key]} />)
    }

    <ClientRouter />
  </head>

  <body class="flex min-h-screen flex-col">
    {!hideNav && <Navbar />}
    <main class="flex-1">
      <slot />
    </main>
    {!hideFooter && <Footer />}
  </body>
</html>
